.header {
  height: 60px;
  position: fixed;
  left: 0;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #f1e9da;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}
.header ul {
  padding-inline: 1em;
}
.design-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.design-block {
  display: block;
}
.header ul li,
.footer ul li {
  margin-inline: 1.6em;
  list-style: none;
}
.header ul li a,
.footer ul li a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  color: #d90368;
}
.header ul li a:hover,
.footer ul li a:hover {
  color: #a1024c;
}
.header ul li a + span,
.footer ul li a + span {
  width: 0;
  height: 2px;
  display: block;
  position: relative;
  background: #541388;
  transition: 300ms;
}
.header ul li a:hover + span,
.footer ul li a:hover + span {
  width: 120%;
}
.header ul li.order {
  position: relative;
}
.header ul li.order a {
  position: relative;
}
.header ul li.order a i {
  position: absolute;
  top: -6px;
  font-size: 18px;
  right: 0px;
}
.header ul li.order a i + span {
  position: absolute;
  left: 0px;
  background-color: #a37d35;
  border-radius: 50%;
  padding: 0 4px;
  color: black;
  bottom: 3px;
}
.header ul li.order .sepet {
  position: fixed;
  text-align: left;
  right: 0;
  width: 35%;
  padding-top: 36px;
  display: none;
}
.header ul li.order:hover .sepet {
  display: block;
}

.header ul li.order .sepet ul {
  text-align: left;
  width: 100%;
  padding: 5px 0;
  margin: 10px;
  border-radius: 0 12px 55px 25px;
  background-color: #d90368;
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
}
.header ul li.order .sepet li {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  margin-block: 9px;
  background-color: #f1e9da;
  border-radius: 4px;
  padding: 5px;
}
.footer {
  position: fixed;
  padding-block: 1em;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #37315e;
}
.footer .about {
  color: #d2b889;
  width: 30%;
}
.evenColumn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-main {
  border: none;
  outline: none;
  padding: 0.2em 0.7em;
  margin: 0.2em 0.4em;
  background-color: #ffd400;
  transition: 200ms;
}
.btn-main:hover {
  background-color: #ddcaa6;
  box-shadow: 1px 2px 4px rgba(131, 119, 119, 0.24);
}
input {
  outline: none !important;
}
input:focus,
input:active {
  outline: none;
  box-shadow: none !important;

  border: 1px solid gray !important;
}
.main {
  position: relative;
  margin-bottom: 140px;
  margin-top: 80px;
}
.main .form {
  position: sticky;
  top: 10%;
  bottom: 20%;
  padding-right: 10px;
  border-right: 1px solid gray;
}
.cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
